<header>


<div class="icon">
    <img src="/images/blog-svgrepo-com.svg"/>
</div>




    <div class="list-container">
    
        <div class="list-icon">
        <div class="first line"></div>
        <div class="second line"></div>
        <div class="third line"></div>            
        </div>

    
        
    <div class="content">

        <a href="editor.ejs">New Entry</a>
        <a href="myblogs.ejs">Your Blogs</a>
        <a href="index.ejs">Home</a>
        
    </div>


  
</div>
</header>