<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog | Editor</title>

    <link 
    rel="stylesheet"
    href="/styles/main.css"
    />

    <link 
    rel="stylesheet"
    href="/styles/editor.css"
    />

<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet"> -->

</head>
<body>
    <%- include("partials/header.ejs") %>

    <form action="/Post" method="POST">
        <div class="blog">
        <textarea type="text" class="title" placeholder="Blog title..." name="title"></textarea>
        <textarea type="text" class="article" placeholder="Write your blog here..." name="article"></textarea>        
       
        </div>

        <input type="submit" class="blog-button" value="Post">    
    </form>

    <%- include("partials/footer.ejs")%>

</body>
</html>