<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog</title>
    <link 
    rel="stylesheet"
    href="/styles/main.css"
    />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">

</head>
<body>
     <%- include("partials/header.ejs") %> 

    <div class="background-image">
        <video autoplay muted loop id="myVideo">
            <source src="/videos/The Blog.mp4" type="video/mp4">
          </video>
    </div>

    <%- include("partials/footer.ejs")%>
</body>
</html>